<template>
  <div id="app-1">
    <button id="test" @click="alerty"><span>Test-2</span></button>
    <modal-comp v-if="other" :clc="alerty" />
  </div>
</template>

<script>
import ModalComp from "./components/ModalComp.vue";
export default {
  name: "Test",
  data() {
    return {
      other: false,
    };
  },
  props: {
    myid: {
      type: String,
      default: "",
    },
  },
  methods: {
    alerty() {
      this.other = !this.other;
    },
  },
  components: {
    ModalComp,
  },
};
</script>

<style lang="scss" scoped>
#app-1 {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
  #test {
    width: 50px;
    height: 70px;
    position: fixed;
    border: none;
    background-color: #0d6efd;
    color: white;
    left: 0px;
    top: 100px;
    span {
      text-orientation: mixed;
      writing-mode: vertical-lr;
    }
  }
}
</style>
