<template>
  <div id="app-2">
    <button id="test" @click="alerty"><span>Test-1</span></button>
    <modal-comp v-if="test" :clc="alerty" />
  </div>
</template>

<script>
import ModalComp from "./components/ModalComp.vue";
export default {
  name: "Test",
  props: {
    myid: {
      type: String,
      default: "",
    },
  },
  data() {
    return {
      test: false,
    };
  },
  created() {
    console.log(this.myid);
  },
  methods: {
    alerty() {
      this.test = !this.test;
    },
  },
  components: {
    ModalComp,
  },
};
</script>

<style lang="scss" scoped>
#app-2 {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
  #test {
    width: 50px;
    height: 70px;
    position: fixed;
    border: none;
    background-color: #dc3545;
    color: white;
    right: 0px;
    top: 200px;
    span {
      text-orientation: mixed;
      writing-mode: vertical-lr;
    }
  }
}
</style>
