<template>
  <div>
    <div @click="clc" class="hello"></div>
    <div class="mdl">
      <div>
        <span>
          Get started with Bootstrap, the world’s most popular framework for
          building responsive, mobile-first sites, with jsDelivr and a template
          starter page.
        </span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "ModalComp",
  props: {
    msg: String,
    clc: Function,
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.hello {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333333;
  z-index: 9999;
  opacity: 0.8;
}
.mdl {
  width: 300px;
  height: 200px;
  background-color: #ffff;
  left: 50%;
  top: 50%;
  margin-top: -10%;
  margin-left: -10%;
  position: fixed;
  z-index: 99999;
}
</style>
